.sp_pndIsirdiaY{background-image:url(/rsrc.php/v3/yI/r/YWFgTj8fnqe.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_pndIsirdiaY.sx_9847ae{background-position:0 0}.sp_pndIsirdiaY.sx_b58b2d{background-position:0 -21px}

#bootloader_Gfjpm{height:42px;}.bootloader_Gfjpm{display:block!important;}