.contact_importer_widget.ci_nateon .nateon_username{width:96px}.contact_importer_widget.ci_nateon .nateon_domain{width:80px}
.FlyoutFriendListMenuNUX{background-color:#f6f7f9;border:1px solid #7f7f7f;box-shadow:0 2px 5px rgba(0, 0, 0, .3);min-height:100%;position:absolute;right:-100%;top:-1px;width:100%;z-index:-1}.FlyoutFriendListMenuNUX .content{padding-left:15px}

#bootloader_xgfS3{height:42px;}.bootloader_xgfS3{display:block!important;}