.FlyoutFriendListMenuNUX{background-color:#f6f7f9;border:1px solid #7f7f7f;box-shadow:0 2px 5px rgba(0, 0, 0, .3);min-height:100%;position:absolute;right:-100%;top:-1px;width:100%;z-index:-1}.FlyoutFriendListMenuNUX .content{padding-left:15px}
._s2d div._s2e{align-items:center;display:flex;height:50px}._s2d div._s2e div._s2f div{font-size:12px}._s2d div._s2e div._s2f{font-size:12px}

#bootloader_PmKyW{height:42px;}.bootloader_PmKyW{display:block!important;}