.sp_YvYoa-A4BSd{background-image:url(/rsrc.php/v3/y8/r/D3IkRXOmGXI.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_YvYoa-A4BSd.sx_ec8da4{background-position:0 0}.sp_YvYoa-A4BSd.sx_373d43{background-position:0 -17px}

#bootloader__5nEt{height:42px;}.bootloader__5nEt{display:block!important;}