.sp_6kQkBbpDvLC{background-image:url(/fb_bench/rsrc.php/v3/yL/r/zeMFu7xVZF9.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_6kQkBbpDvLC.sx_0cff19{background-position:0 0}.sp_6kQkBbpDvLC.sx_16b865{background-position:0 -25px}

#bootloader_z9_Qm{height:42px;}.bootloader_z9_Qm{display:block!important;}
